body { 
    background-color: #fdf8ff;
    display: flex;
    flex-direction: column;
}


.center img{
    border-radius: 20pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center p {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #e2c3ff ;
}

li {font-size: 20pt;}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav {
    background-color: #e2c3ff;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #fdf5ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    background-color: #ddb8ff;
    color: rgb(255, 255, 255);
}

.row{
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

img {
    display: block;
    margin: 0;
    line-height: 0;
}